body {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.conteiner {
    width: 80%;
    margin: 8% auto;
}

h2 {
    font-family: monospace;
    color: #363636;
    font-size: 32px;
}

.conteiner-inner {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.conteiner_img {
    display: block;
    width: 10%;
    height: 10%;
    border: 2px solid #363636;
    border-radius: 50%;
    overflow: hidden;
    margin: 1% 3% 1% 0%;
}

.conteiner_title {
    margin-top: 4%;
}

img {
    width: 100%;
}

h1 {
    display: block;
    margin-top: 8%;
    font-family: monospace;
    color: #888888;
    font-size: 32px;
}

.tab {
    margin-top: 1%;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Titillium Web';
    background-color: #b8b8b8;
    padding: 0 1%;
    color: #363636;
    border: 2px solid #363636;
}

a:hover {
    background-color: #1944A9;
    color: #F3F3F3;
    border: 2px solid #1944A9;
}

#conteiner_info-inner {
    border: 2px solid #363636;
    padding: 2%;
}

.text_info {
    font-size: 36px;
    font-family: 'Titillium Web';
    color: #363636;
}

.conteiner_inner-inf{
    width:100%;
    display:flex;
    justify-content:space-between;
}

.conteiner_div{
    width:40%;
    margin-bottom:1%;
}

.title-info {
    font-size: 24px;
    font-family: monospace;
    font-weight: 500;
    color: #1944A9;
}

.field-info {
    font-size: 18px;
    font-family: monospace;
    color: #727272;
}